<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ProductControllerr</servlet-name>
  	<display-name>ProductControllerr</display-name>
  	<description></description>
  	<servlet-class>pahana.controller.ProductControllerr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewProduct</servlet-name>
  	<display-name>viewProduct</display-name>
  	<description></description>
  	<servlet-class>pahana.controller.viewProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateProduct</servlet-name>
  	<display-name>updateProduct</display-name>
  	<description></description>
  	<servlet-class>pahana.controller.updateProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteProduct</servlet-name>
  	<display-name>deleteProduct</display-name>
  	<description></description>
  	<servlet-class>pahana.controller.deleteProduct</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>viewCustomer</servlet-name>
  	<display-name>viewCustomer</display-name>
  	<description></description>
  	<servlet-class>pahana.controller.viewCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>CustomerControllerr</servlet-name>
  	<display-name>CustomerControllerr</display-name>
  	<description></description>
  	<servlet-class>pahana.controller.CustomerControllerr</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>updateCustomer</servlet-name>
  	<display-name>updateCustomer</display-name>
  	<description></description>
  	<servlet-class>pahana.controller.updateCustomer</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>deleteCustomer</servlet-name>
  	<display-name>deleteCustomer</display-name>
  	<description></description>
  	<servlet-class>pahana.controller.deleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ProductControllerr</servlet-name>
  	<url-pattern>/ProductControllerr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewProduct</servlet-name>
  	<url-pattern>/viewProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateProduct</servlet-name>
  	<url-pattern>/updateProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteProduct</servlet-name>
  	<url-pattern>/deleteProduct</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>viewCustomer</servlet-name>
  	<url-pattern>/viewCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>CustomerControllerr</servlet-name>
  	<url-pattern>/CustomerControllerr</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>updateCustomer</servlet-name>
  	<url-pattern>/updateCustomer</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>deleteCustomer</servlet-name>
  	<url-pattern>/deleteCustomer</url-pattern>
  </servlet-mapping>
</web-app>
